.advantages__heading {
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.advantages__item:not(:last-child) {
  padding-bottom: 20px;
}

.advantages__item:last-child {
  margin-bottom: 40px;
}
