.button {
  font-size: 16px;
  line-height: 18px;
  color: @white;
  text-transform: uppercase;
  background-color: @green;
  padding: 11px 44px 3px;
  text-decoration: none;
  display: block;
  width: 280px;
  min-height: 40px;
  text-align: center;
  border: none;
  outline: none;
  margin: -3px auto 0;

  &:focus,
  &:hover {
    background-color: @basic-green;
  }

  &:active {
    color: @opacity;
  }

  @media (min-width: @tablet-width) {
    padding: 11px 93px;
    width: 246px;
    margin: -6px 0 0 42px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 53px;
    margin: -7px 0 0 39px;
    width: 168px;
  }
}
