.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.copyright__link {
  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.copyright__logo-html {
  fill: @gray-data;

  &:focus,
  &:hover {
    fill: @green;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -19px;
    left: -34px;
  }
}
