.information__dealer {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @cloudy-black;
  width: 140px;
  min-height: 64px;
}

.information__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
  width: 140px;
  min-height: 50px;
}
