.list-of-programs {
  list-style: none;
}

.list-of-programs__item {
  width: 280px;
  height: 266px;
  background-color: @dull-gray;
}

.list-of-programs__item:first-child {
  box-shadow: @shadow;
}

.list-of-programs__contents {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.list-of-programs__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}

.list-of-programs__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
