.list-of-programs {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}

.list-of-programs__item {
  width: 280px;
  height: 266px;
  background-color: @dull-gray;
  margin-bottom: 20px;
  padding: 21px 20px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 67px 62px 53px 53px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 374px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 51px 55px 52px;
  }
}

.list-of-programs__item:first-child {
  box-shadow: 0 4px 4px @shadow;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    box-shadow: none;
  }
}

.list-of-programs__contents {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 0;

  &--picture-pro::before {
    margin-top: -6px;
  }

  &--picture-slim::before {
    margin-top: -6px;
  }

  &--picture-pro::before,
  &--picture-slim::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 19px;
  }
  /*
  &--picture-slim::after {
    content: "";
    display: block;
    width: 36px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 9px;
    transform: translateY(-46px);
  }

  &--picture-pro::after {
    content: "";
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: -8px;
    transform: translateY(-32px);
  } */

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
    font-weight: normal;

    &--picture-pro::before,
    &--picture-slim::before {
      width: 200px;
      height: 200px;
      float: right;
      margin: 15px 0 0;
    }
    /*    &--picture-slim::after {
      width: 142px;
      height: 190px;
      left: 424px;
      transform: translateY(-30px);
    }

    &--picture-pro::after {
      width: 270px;
      height: 115px;
      left: 359px;
      transform: translateY(22px);
    }*/
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    width: 400px;
    min-height: 106px;
    padding-top: 12px;

    &--picture-pro::before,
    &--picture-slim::before {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 62px;
      margin-top: 6px;
    }
    /*  &--picture-slim::after {
      width: 70px;
      height: 97px;
      left: 15px;
      transform: translateY(-3px);
    }

    &--picture-pro::after {
      width: 134px;
      height: 56px;
      left: -18px;
      transform: translateY(1px);
    } */
  }
}

.list-of-programs__cat-slim {
  position: absolute;
  top: 0;
  margin-left: -60px;

  @media (min-width: @tablet-width) {
    top: 13px;
    width: 140px;
    height: 192px;
    margin-left: 423px;
  }

  @media (min-width: @desktop-width) {
    top: 11px;
    width: 70px;
    height: 97px;
    margin-left: 15px;
  }
}

.list-of-programs__cat-pro {
  position: absolute;
  top: 3px;
  margin-left: -76px;

  @media (min-width: @tablet-width) {
    top: 66px;
    width: 268px;
    height: 112px;
    margin-left: 360px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    margin-left: -19px;
    top: 36px;
  }
}

.list-of-programs__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  width: 227px;
  min-height: 90px;
  padding-bottom: 23px;
  margin: 29px 0 20px;
  border-bottom: 1px solid @gray-line;

  @media (min-width: @tablet-width) {
    width: 377px;
    min-height: 96px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 30px;
    border-bottom: none;

    &--height {
      width: 342px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    min-height: 72px;
    padding-bottom: 0;
    margin-top: 38px;
    margin-bottom: 27px;
  }
}

.list-of-programs__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.list-of-programs__arrow {
  position: absolute;
  top: 6px;
  width: 32px;
  height: 11px;
  margin-left: 10px;

  &--hover {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    top: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 24px;
    top: 9px;
  }
}
