.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  color: @black;
  background-color: @white;
  overflow-x: hidden;
}

.page__main--inner {
  margin: 0 auto;
}

.page__headline {
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  width: 320px;
  min-height: 101px;
  margin: 0 0 1px;
  padding: 27px 20px 0;
  border-bottom: 1px solid @gray-line;

  &--form {
    margin: 0;
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    width: 700px;
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
    margin-bottom: 39px;
    border-bottom: none;

    &--form {
      margin-bottom: 12px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin: 0 0 46px;

    &--form {
      margin-bottom: 15px;
    }
  }
}
