.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  color: @black;
  background-color: @white;
}

.page__main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.page__headline {
  font-size: 36px;
  line-height: 36px;
}

@media (min-width: @tablet-width) {
  .page__headline {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .page__headline {
    padding: 0 110px;
  }
}
