.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: @dull-gray;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    margin: 0 auto;
  }
}

.page-footer__wrapper-footer {
  width: 281px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    min-height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper-footer {
    width: 1220px;
    min-height: 149px;
  }
}

.page-footer__picture {
  margin: 37px auto 0;
}

@media (min-width: @tablet-width) {
  .page-footer__picture {
    margin: 0;
    width: 128px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    display: flex;
  }
}
