.page-footer {
  background-color: @dull-gray;
}

.page-footer__wrapper-footer {
  width: 320px;
  display: grid;
  grid-template-rows: 95px 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    min-height: 150px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    min-height: 149px;
  }
}

.page-footer__logo {
  border-bottom: 1px solid @gray-line;
  padding-top: 38px;
  padding-bottom: 27px;
  margin-right: 5px;
  outline: none;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 10px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -3px;
  }
}

.page-footer__social {
  padding-bottom: 18px;
  padding-top: 18px;
  border-bottom: 1px solid @gray-line;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 4px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
    margin-bottom: 0;
  }
}

.page-footer__picture {
  margin: 37px auto 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 128px;
  }
}
