.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: @black;
  background-color: @white;
}

.page__headline {
  font-size: 36px;
  line-height: 36px;
}
