.product {
  width: 320px;
  min-height: 500px;

  @media (min-width: @tablet-width) {
    width: 709px;
    min-height: 950px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    width: 1440px;
    min-height: 696px;
    background-color: transparent;
    padding: 0 0 0 110px;
    margin-bottom: 80px;

    &::after {
      content: "";
      display: block;
      background-color: @green;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      width: 720px;
      min-height: 696px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}

.product__wrapper {
  width: 320px;
  height: 305px;
  background-color: @green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    width: 709px;
    padding: 0 90px;
    background-color: @white;
    background-image: none;
    text-align: left;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 550px;
    min-height: 499px;
    background-color: transparent;
    padding: 100px 0 0;
  }
}

.product__for-cats {
  font-size: 36px;
  line-height: 36px;
  color: @white;
  margin: 0;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    padding-top: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-left: 0;
    width: 484px;
  }
}

.product__intro {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    padding-top: 41px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 303px;
    padding-top: 40px;
    padding-left: 0;
  }
}

.product__picture {
  width: 280px;
  min-height: 270px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: -1px;
    z-index: 1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    transform: translateY(-255px);
    left: 480px;
    width: 552px;
    height: 499px;
  }
}

.product__button {
  font-size: 14px;
  line-height: 18px;
  color: @white;
  text-transform: uppercase;
  background-color: @green;
  padding: 7px 44px;
  text-decoration: none;
  display: block;
  width: 280px;
  text-align: center;
  border: none;
  margin: 3px auto 0;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 4;
    font-size: 20px;
    padding: 16px 6px 12px;
    width: 284px;
    min-height: 54px;
    margin: 0;
  }
}
