.product {
  width: 320px;
  height: 305px;
  background-color: @green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat no-repeat;
  text-align: center;
}

.product__for-cats {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @white;
}

.product__intro {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
}
