.production {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
    padding: 0 110px;
    margin: 0;
  }
}

.production__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.production__item {
  position: relative;
  text-decoration: none;
  width: 320px;
  height: 209px;
  padding: 0 20px;
  border-bottom: 1px solid @gray-line;

  &:last-child {
    width: 320px;
    min-height: 158px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 511px;
    background-color: @white;
    margin-bottom: 59px;
    padding: 0;
    border-bottom: none;

    &:last-child {
      width: 324px;
      min-height: 511px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-bottom: 63px;

    &:last-child {
      width: 245px;
    }
  }
}

.production__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 324px;
    min-height: 430px;
    margin: 0 auto;
    background-color: @dull-gray;
    position: relative;
    margin-top: 81px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.production__wrapper-mobile {
  @media (max-width: @mobile-width) {
    display: flex;
    padding-top: 8px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 93px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.production__link-picture {
  width: 140px;
  height: 140px;
}

.production__item-picture {
  &--small {
    width: 122px;
    height: 85px;
    margin-left: 9px;
    margin-top: 26px;
  }

  @media (min-width: @tablet-width) {
    &--small {
      position: absolute;
      top: -68px;
      left: 29px;
      width: 243px;
      min-height: 170px;
    }
  }

  @media (min-width: @desktop-width) {
    &--small {
      top: -81px;
      left: -10px;
      width: 244px;
      min-height: 173px;
    }
  }

  &--big {
    width: 125px;
    height: 104px;
    margin-left: 7px;
    margin-top: 22px;
  }

  @media (min-width: @tablet-width) {
    &--big {
      position: absolute;
      top: -94px;
      left: 31px;
      width: 245px;
      min-height: 211px;
    }
  }

  @media (min-width: @desktop-width) {
    &--big {
      top: -102px;
      left: -13px;
      width: 258px;
      min-height: 205px;
    }
  }
}

.production__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    align-items: center;
    width: 252px;
    margin: 0 auto;
    padding-bottom: 38px;
    padding-top: 35px;
  }
}

.production__link-title {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 85px;
  }
}

.production__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-black;
  margin: 0;
  width: 76px;
  min-height: 41px;

  @media (min-width: @tablet-width) {
    width: 154px;
    min-height: 47px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
