.program-form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__fieldset {
  border: none;
}

.program-form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  margin-right: 13px;
}

.program-form__text-input {
  border: 1px solid @gray-form;
}

.program-form__list {
  list-style: none;
}

.program-form__radio-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @light-black;
}

.program-form__title {
  font-size: 24px;
  line-height: 26px;
}

.program-form__textarea {
  width: 280px;
  height: 150px;
  border: 1px solid @gray-form;
}

.program-form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
