.programs {
  width: 280px;
  min-height: 552px;
  padding: 0 20px;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    min-height: 352px;
    padding: 0 110px;
  }
}
