.programs {
  width: 280px;
  padding: 0 20px;
  margin-top: 220px;
}

@media (min-width: @tablet-width) {
  .programs {
    width: 708px;
    padding: 0 30px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    width: 1220px;
    padding: 0 110px;
    margin-top: 0;
  }
}
