.program-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 70px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.program-form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 286px;
  height: 36px;
  padding-left: 20px;
  margin: 0 0 37px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 383px;
    min-height: 60px;
    padding-left: 0;
    margin-bottom: 66px;
  }
}

.program-form__general-information {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
  }
}

.program-form__fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;

  &:first-child {
    min-height: 188px;
  }

  &--border-additionally::before,
  &--border-comments::before,
  &--border-data::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    border: 2px solid @green;
  }

  &--border-data::before {
    transform: translateY(-70px);
  }

  &--border-comments::before {
    top: 30px;
  }

  &--border-additionally::before {
    transform: translateY(-50px);
  }

  &--border {
    border-bottom: 1px solid @gray-background;
  }

  @media (min-width: @tablet-width) {
    padding: 0;

    &--border-data::before {
      transform: translateY(-92px);
    }

    &--border-additionally::before {
      left: 47%;
      transform: translateY(-80px);
    }

    &--comments {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &--comments::before {
      content: "";
      display: block;
      position: absolute;
      top: 37px;
      left: 48%;
      margin-left: -50vw;
      z-index: -1;
      border: 2px solid @green;
      width: 100vw;
    }

    &--border {
      border-bottom: none;
    }
  }

  @media (min-width: @desktop-width) {
    &--border-data::before {
      transform: translateY(-94px);
    }

    &--border-comments::before {
      top: 69px;
    }

    &--border-additionally::before {
      transform: translateY(-80px);
    }
  }
}

.program-form__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 280px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    width: 633px;
    margin-bottom: 19px;

    &--years {
      margin-bottom: 75px;
    }

    &--telephone {
      margin-bottom: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 50px;
    margin-bottom: 20px;
  }
}

.program-form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__text-input {
  border: 1px solid @gray-form;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;

  &:focus,
  &:hover {
    border: 1px solid @gray-frame;
  }

  &:active {
    border: 1px solid @dark-grey;
  }

  &:active + .program-form__icon-mail,
  &:active + .program-form__icon-telephone,
  &:focus + .program-form__icon-mail,
  &:focus + .program-form__icon-telephone {
    fill: @green;
  }

  &--invalid {
    border: 1px solid @error;
  }

  &--invalid + .program-form__icon-mail,
  &--invalid + .program-form__icon-telephone {
    fill: @error;
  }

  &::placeholder {
    color: @dark-grey;
  }

  &--name {
    width: 228px;
    min-height: 46px;
    padding-left: 15px;
  }

  &--weight {
    width: 204px;
    min-height: 46px;
    padding-left: 16px;
  }

  &--years {
    width: 172px;
    min-height: 46px;
    padding-left: 16px;
  }

  &--email {
    width: 219px;
    min-height: 45px;
    padding-left: 15px;
    padding-right: 40px;
  }

  &--tel {
    width: 204px;
    min-height: 45px;
    padding-left: 16px;
    padding-right: 40px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--name {
      width: 567px;
      min-height: 52px;
      padding-left: 16px;
    }

    &--weight {
      width: 536px;
      min-height: 52px;
      padding-left: 19px;
    }

    &--years {
      width: 497px;
      min-height: 52px;
      padding-left: 19px;
    }

    &--email {
      width: 551px;
      height: 52px;
      padding-left: 21px;
    }

    &--tel {
      width: 535px;
      min-height: 52px;
      padding-left: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    &--name {
      width: 506px;
      padding-left: 20px;
    }

    &--weight {
      width: 475px;
    }

    &--years {
      width: 436px;
      padding-left: 17px;
    }

    &--email {
      width: 486px;
      min-height: 50px;
      padding-left: 19px;
    }

    &--tel {
      width: 472px;
      min-height: 50px;
      padding-left: 18px;
    }
  }
}

.program-form__icon-mail {
  position: absolute;
  left: 247px;

  @media (min-width: @tablet-width) {
    left: 595px;
  }

  @media (min-width: @desktop-width) {
    left: 533px;
  }
}

.program-form__icon-telephone {
  position: absolute;
  left: 247px;

  @media (min-width: @tablet-width) {
    left: 595px;
  }

  @media (min-width: @desktop-width) {
    left: 533px;
  }
}

.program-form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--enumeration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 280px;
    min-height: 157px;
    padding: 0 20px 13px;
  }

  @media (min-width: @tablet-width) {
    &--enumeration {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 688px;
      min-height: 143px;
      padding: 0;
      margin-bottom: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    &--enumeration {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 1300px;
      min-height: 79px;
      padding: 0;
    }
  }
}

.program-form__list--radio {
  width: 277px;
  min-height: 107px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    width: 630px;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 28px;
    border: 1px solid @gray-form;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    min-height: 200px;
    padding-top: 29px;
    padding-left: 25px;
    margin-left: 80px;
  }
}

.program-form__list-item {
  position: relative;
  margin-bottom: 25px;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.program-form__radio {
  & + .program-form__radio-label::before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: -45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid @gray-frame;
    outline: none;
  }

  & + .program-form__radio-label:focus::before,
  & + .program-form__radio-label:hover::before {
    border: 1px solid @checkbox;
  }

  &:checked + .program-form__radio-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: -37px;
    width: 13px;
    height: 13px;
    background-color: @green;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    & + .program-form__radio-label::before {
      top: -6px;
      width: 40px;
      height: 40px;
    }

    &:checked + .program-form__radio-label::after {
      top: 4px;
      left: -35px;
      width: 18px;
      height: 18px;
    }
  }
}

.program-form__radio-label {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @light-black;
  cursor: pointer;
  user-select: none;
  margin-left: 46px;
  outline: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 14px;
  }
}

.program-form__title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 24px;
  line-height: 26px;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 19px;
  background-color: white;

  &--data {
    width: 228px;
    min-height: 26px;
  }

  &--border-comments {
    width: 153px;
    min-height: 26px;
    padding-top: 17px;
  }

  &--additionally {
    width: 185px;
    min-height: 26px;
    padding-top: 13px;
    margin-bottom: 5px;
  }

  &--border {
    width: 250px;
    min-height: 52px;
    padding-left: 19px;
    background-color: white;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;

    &--border {
      margin-bottom: 76px;
      width: 582px;
      min-height: 36px;
    }

    &--data {
      width: 588px;
      min-height: 26px;
      padding-top: 70px;
      padding-bottom: 0;
      padding-left: 39px;
      margin-left: -40px;
      margin-bottom: 76px;
    }

    &--border-comments {
      width: 260px;
      min-height: 26px;
      padding-left: 39px;
      padding-bottom: 0;
      margin-bottom: 75px;
      margin-left: -40px;
    }

    &--additionally {
      width: 291px;
      min-height: 26px;
      margin-bottom: 30px;
      padding-left: 35px;
      margin-left: -35px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;

    &--data {
      padding-top: 48px;
      padding-left: 39px;
    }

    &--border-comments {
      padding-top: 47px;
      padding-left: 39px;
    }

    &--additionally {
      width: 285px;
      min-height: 26px;
      padding: 68px 0 0 38px;
      margin-bottom: 62px;
      margin-left: -38px;
    }
  }
}

.program-form__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 632px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
    padding: 0;
  }
}

.program-form__textarea {
  width: 280px;
  min-height: 150px;
  border: 1px solid @gray-form;
  text-transform: uppercase;
  margin: 0 20px;
  padding-top: 13px;
  padding-left: 15px;
  overflow-y: hidden;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 54px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 162px 19px;
    margin: 0 0 53px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 175px;
    padding: 13px 0 0 18px;
    margin: 0;
  }
}

.program-form__checkbox {
  & + .program-form__checkbox-label::before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid @gray-frame;
  }

  & + .program-form__checkbox-label:focus::before,
  & + .program-form__checkbox-label:hover::before {
    border: 1px solid @checkbox;
  }

  &:checked + .program-form__checkbox-label::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 20px;
    height: 12px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    & + .program-form__checkbox-label::before {
      top: -5px;
      width: 40px;
      height: 40px;
    }

    &:checked + .program-form__checkbox-label::after {
      top: 9px;
      left: 12px;
    }
  }

  @media (min-width: @desktop-width) {
    top: -12px;
  }
}

.program-form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 47px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 12px;
  }
}

.program-form__general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  min-height: 78px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.program-form__button {
  font-size: 16px;
  line-height: 18px;
  color: @white;
  text-transform: uppercase;
  background-color: @green;
  padding: 7px 44px;
  width: 280px;
  min-height: 40px;
  border: none;
  outline: none;
  margin: 0 auto 21px;

  &:focus,
  &:hover {
    background-color: @basic-green;
  }

  &:active {
    color: @opacity;
  }

  @media (min-width: @tablet-width) {
    width: 282px;
    min-height: 52px;
    font-size: 20px;
    padding: 13px 45px;
    margin: 0 60px 40px 0;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    min-height: 52px;
    padding: 13px 188px;
    margin-right: 83px;
    margin-bottom: 50px;
  }
}

.program-form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding-top: 16px;
  }
}
