.show-more {
  @media (min-width: @tablet-width) {
    border: 2px solid @dull-gray;
    background-color: white;
    text-align: center;
    width: 324px;
    height: 429px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    height: 511px;
  }
}

.show-more__options {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @cloudy-black;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 22px;
    width: 194px;
    min-height: 40px;
  }
}

.show-more__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    min-height: 30px;
  }
}

.show-more__open {
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: @dark-grey;
  background-color: @dull-gray;
  padding: 20px 74px;
  display: inline-block;
  vertical-align: middle;
  min-height: 40px;

  @media (min-width: @desktop-width) {
    padding: 20px 24px;
  }
}
