.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid @dull-gray;
    background-color: white;
    text-align: center;
    width: 324px;
    min-height: 430px;
    margin-top: 81px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.show-more__options {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @cloudy-black;
  width: 204px;
  min-height: 20px;
  margin: 0 0 8px;

  @media (min-width: @tablet-width) {
    width: 144px;
    min-height: 24px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 22px;
    width: 176px;
    min-height: 40px;
  }
}

.show-more__plus-mobile {
  display: block;
  fill: @gray-cross;
  margin: 26px auto 24px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.show-more__plus {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    fill: @gray-cross;
    margin: 55px auto 48px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 51px;
  }
}

.show-more__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
  width: 229px;
  min-height: 16px;
  margin: 0 0 21px;

  @media (min-width: @tablet-width) {
    width: 167px;
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 86px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    min-height: 30px;
  }
}

.show-more__open {
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: @dark-grey;
  background-color: @dull-gray;
  padding: 20px 94px;
  display: inline-block;
  vertical-align: middle;
  min-height: 40px;

  &:focus,
  &:hover {
    background-color: @button-open;
  }

  &:active {
    color: @opacity-open;
  }

  @media (min-width: @tablet-width) {
    padding: 20px 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 39px;
  }
}
