.show-more__options {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @cloudy-black;
}

.show-more__subtitle {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.show-more__open {
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: @dark-grey;
  background-color: @dull-gray;
  padding: 20px 74px;
  display: inline-block;
  vertical-align: middle;
  width: 279px;
  min-height: 40px;
}
