.social__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 130px;
  margin: 20px auto 0;

  @media (min-width: @tablet-width) {
    width: 129px;
    margin: 0;
  }
}

.social__link {
  text-decoration: none;
  color: @black;
}
